<!DOCTYPE html>
<head>
  <title>liveFPL Test</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/css/bootstrap.css" rel="stylesheet">
  <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="/static/js/bootstrap.js"></script>



</head>


<body>
    <div class="hero-unit">
      <h1>LiveFPL</h1>
      <p>For Mofos eyes only.</p>
      <p>
        <a id="Go" class="btn btn-primary btn-large" href="/live?league_id=48483">
          Live Update Now!
        </a>
      </p>
    </div>
<script>
</script>
</body>
</html>