<html>
<head>
	<title>Live page</title>


	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="/static/js/bootstrap.js"></script>


	<script src="http://js.pusher.com/1.12/pusher.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	    // Enable pusher logging - don't include this in production
	    Pusher.log = function(message) {
	      if (window.console && window.console.log) window.console.log(message);
	    };

	    // Flash fallback logging - don't include this in production
	    WEB_SOCKET_DEBUG = true;

	    var pusher = new Pusher('b2c9525770d59267a6a2');
	    var channel = pusher.subscribe('test_channel');
	    channel.bind('chatmessage', function(data) {
    		$('<p>'+data.message+'</p>').prependTo('#msgbox').hide();
    		$('p').show(400);
	    });
	</script>


</head>
<body>
	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="#">LiveFPL</a>
	    <ul class="nav">
	      <li class="active"><a href="#">Live</a></li>
	      <li><a href="#">About</a></li>
	      <li><a href="#">Contact</a></li>
	    </ul>
	  </div>
	</div>
<div class="container">

<h1>This is the live page</h1>
	<div id="msgbox">
		{% for update in pushed_data %}
			<p>{{ update }}</p>
		{% endfor %}
	</div>
	<div id="status">
	</div>

</div>
<script type="text/javascript">
	$.get('/status', function(data) {
  $('#status').append(data);
});
</script>
</body>
</html>