<html>
<head>
	<title>Live page</title>


	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="/static/js/bootstrap.js"></script>


	<script src="http://js.pusher.com/1.12/pusher.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	    // Enable pusher logging - don't include this in production
	    Pusher.log = function(message) {
	      if (window.console && window.console.log) window.console.log(message);
	    };

	    // Flash fallback logging - don't include this in production
	    WEB_SOCKET_DEBUG = true;

	    var pusher = new Pusher('b2c9525770d59267a6a2');
	    var channel = pusher.subscribe('test_channel');
	    channel.bind('chatmessage', function(data) {
    		$(data.message).prependTo('#update').hide();
    		$('span').tooltip();
    		$('li').show(400);
	    });
	</script>


</head>
<body>
	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="#">LiveFPL</a>
	    <ul class="nav">
	      <li class="active"><a href="#">Live</a></li>
	      <li><a href="#">About</a></li>
	      <li><a href="#">Contact</a></li>
	    </ul>
	  </div>
	</div>
<div class="container-fluid">

<h1>This is the live page</h1>
<h2>The current status is: </h2>
	<div class="span4">
		<ul id="update" class="nav nav-tabs nav-stacked">
		  {% for update in pushed_data %}
				<li>{{ update }}</li>
			{% endfor %}
		</ul>
	</div>

</div>
<script type="text/javascript">
	$.get('/status', function(data) {
  $('h2').append(data);
});
</script>
</body>
</html>