Flask==0.9
Jinja2==2.6
Werkzeug==0.8.3
amqplib==1.0.2
anyjson==0.3.3
beautifulsoup4==4.1.3
billiard==2.7.3.15
celery==3.0.10
celery-with-redis==3.0
distribute==0.6.27
kombu==2.4.7
mechanize==0.2.5
pusher==0.6
python-dateutil==1.5
pytz==2012d
redis==2.6.2
requests==0.14.1
virtualenv==1.7.2
virtualenv-clone==0.2.4
virtualenvwrapper==3.5
wsgiref==0.1.2
